* {
  color: #ebd9d1;

  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono NF";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: rgba(28, 19, 20, 0.55);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
  border: 1px solid #1c1314;
  border-radius: 24px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid #9F5F61;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: #1c1314;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #B18576;
  border: 1px solid #9F5F61;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #9F5F61;
  color: #1c1314;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1rem;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #9F5F61;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #9F5F61;
  color: #1c1314;
}

.notification.critical progress {
  background-color: #9F5F61;
}

.notification.low progress,
.notification.normal progress {
  background-color: #9F5F61;
}

